grant codeBase "file:/code/node_2.13.6-0.1.0-SNAPSHOT.jar file:/code/master_2.13.6-0.1.0-SNAPSHOT.jar" {
    permission java.net.SocketPermission "localhost:1099", "connect, resolve";
    permission java.net.SocketPermission "127.0.0.1:1099", "connect, resolve";
    permission java.net.SocketPermission "localhost:80", "connect, resolve";
    permission java.security.AllPermission;
};